@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { html { overflow: hidden; height: 100%; }
  body { overflow: auto; height: 100%; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; }

body { font-size: 1rem; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

img { vertical-align: middle; }

a { text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

input, select, textarea, button { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; border-radius: 0; outline: none; }

select::-ms-expand { display: none; }

option::-ms-expand { display: none; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

.header, .submenu__link, .secsubmenu__link, .footer__email .email__input, .footer__email .email__btn { box-sizing: border-box; }

.header, .header__list, .header__menu, .footer__inner, .footer__logo, .footer__list, .footer__contact, .footer__email { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.header__link, .card__tag { text-transform: uppercase; }

/* invision */
body { font-family: 'Arial', 'Oswald', 'Lato', sans-serif; }

.header { -ms-flex-align: center; align-items: center; border-bottom: 1px solid #ebebeb; padding: 0 40px; }

@media (max-width: 1024px) { .header { padding: 20px; } }

.header__logo { font-family: "lato", sans-serif; font-size: 24px; line-height: 1.25em; margin-right: 45px; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.header__logo::after { content: ''; width: 4px; height: 4px; background: #FF565C; position: absolute; bottom: 4px; right: -6px; }

@media (max-width: 1024px) { .header__nav { display: none; } }

.header__listitem { padding: 28px 42px 32px 0; position: relative; }

.header__listitem:last-child { padding-right: 0; }

.header__listitem:hover .submenu { display: block; }

.header__link { color: rgba(29, 31, 36, 0.2); display: inline-block; font-size: 14px; font-family: "Oswald", sans-serif; line-height: 1.5em; letter-spacing: 1.75px; position: relative; transition: color 0.25s ease-in-out; }

.header__link::after { content: ''; width: 0; height: 2px; background: #FF565C; position: absolute; bottom: -5px; left: 0px; transition: width 0.25s ease-in-out; }

.header__link:hover { color: #1D1F24; }

.header__link:hover::after { width: 100%; }

.header__menu { width: 27px; height: 16px; -ms-flex-align: end; align-items: flex-end; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; margin-left: auto; transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); z-index: 101; }

.header__menu span { width: 85%; height: 2px; background: #1D1F24; transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.header__menu span:nth-child(2) { width: 55%; transition-duration: 0.35s; }

.header__menu span:nth-child(3) { width: 65%; transition-duration: 0.5s; }

.header__menu:hover span { width: 100%; background: #FF565C; }

.header__menu:active span { background: #ef0008; }

.header__menu--open { position: fixed; top: 25px; right: 20px; }

.header__menu--open span { width: 100%; background: #fff; margin: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.header__menu--open span:nth-child(1) { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.header__menu--open span:nth-child(2) { width: 0; }

.header__menu--open span:nth-child(3) { width: 100%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.header__menu--open:hover { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.header__menu--open:hover span { background: #fff; }

.header__rwdmenu { width: 100%; max-width: 415px; height: 100vh; background: rgba(150, 39, 43, 0.95); overflow-y: scroll; position: fixed; top: 0; right: 0; -webkit-transform: translateX(320px); transform: translateX(320px); transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); visibility: hidden; z-index: 100; }

.header__rwdmenu .rwdmenu__list { margin: 65px auto; }

.header__rwdmenu .rwdmenu__link { width: 100%; color: #fff; display: inline-block; font-size: 18px; font-family: "Oswald", sans-serif; line-height: 1.5em; letter-spacing: 1.75px; padding: 15px 0; text-align: center; text-transform: uppercase; }

.header__rwdmenu--open { -webkit-transform: translateX(0); transform: translateX(0); visibility: visible; }

.submenu { background: #f3f3f3; display: none; position: absolute; top: 85px; z-index: 10; }

.submenu__item { border-bottom: 1px solid rgba(150, 156, 170, 0.2); transition: background 0.25s ease-in-out; }

.submenu__item:last-child { border-bottom: none; }

.submenu__item:hover { background: #e3e3e3; }

.submenu__item:hover .secsubmenu { display: block; }

.submenu__link { color: #1D1F24; display: inline-block; padding: 12px 30px; }

.secsubmenu { background: #e9e9e9; display: none; position: absolute; top: 48.5px; left: 98.5px; z-index: 10; }

.secsubmenu__item { border-bottom: 1px solid rgba(150, 156, 170, 0.2); transition: background 0.25s ease-in-out; }

.secsubmenu__item:last-child { border-bottom: none; }

.secsubmenu__item:hover { background: #d9d9d9; }

.secsubmenu__link { color: #1D1F24; display: inline-block; padding: 12px 30px; }

.main { padding: 40px; }

@media (max-width: 1024px) { .main { padding: 20px; } }

.card { width: 100%; max-width: 1440px; margin: auto; }

.card__box { max-height: 100%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 45px; -moz-column-gap: 45px; column-gap: 45px; }

@media (max-width: 768px) { .card__box { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; } }

@media (max-width: 480px) { .card__box { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; } }

.card__box::before, .card__box::after { content: ''; clear: both; }

.card__item { margin-bottom: 25px; }

.card__img { position: relative; }

.card__img img { width: 100%; }

.card__tag { background: #FF565C; color: #fff; font-size: 14px; font-family: "Oswald", sans-serif; font-weight: normal; line-height: 1.5em; letter-spacing: 1.75px; padding: 7px 0 7px 20px; position: absolute; bottom: 25px; left: -25px; }

@media (max-width: 1024px) { .card__tag { font-size: 12px; padding: 5px 0 5px 15px; left: -15px; } }

.card__info { padding: 10px 0; }

.card__title { color: #1D1F24; font-size: 26px; font-weight: 600; line-height: 1.25em; margin-bottom: 10px; }

@media (max-width: 1024px) { .card__title { font-size: 20px; } }

.card__text { color: rgba(29, 31, 36, 0.7); font-size: 18px; line-height: 1.5em; }

@media (max-width: 1024px) { .card__text { font-size: 15px; } }

.footer { background: #1D1F24; padding: 40px; }

@media (max-width: 1024px) { .footer { padding: 20px; } }

.footer__inner { width: 100%; max-width: 1440px; -ms-flex-align: center; align-items: center; margin: 0 auto; }

.footer__logo { width: 150px; font-family: "lato", sans-serif; margin-right: 40px; }

@media (max-width: 1024px) { .footer__logo { -ms-flex-item-align: start; align-self: flex-start; } }

.footer__logo p { color: rgba(249, 250, 252, 0.2); display: inline-block; font-size: 24px; line-height: 1.25em; margin-bottom: 6px; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.footer__logo p::after { content: ''; width: 4px; height: 4px; background: #FF565C; position: absolute; bottom: 4px; right: -6px; }

.footer__logo span { width: 100%; color: #fff; font-size: 14px; line-height: 1.25em; }

.footer__nav { width: 560px; }

@media (max-width: 1024px) { .footer__nav { width: 100%; margin-top: 25px; -ms-flex-order: 3; order: 3; } }

.footer__listitem { width: 140px; }

@media (max-width: 1024px) { .footer__listitem { width: auto; padding-right: 40px; }
  .footer__listitem:last-child { padding-right: 0; } }

.footer__link { color: #fff; display: inline-block; font-family: "Oswald", sans-serif; letter-spacing: 1.75px; padding: 6px 0; text-transform: uppercase; }

.footer__contact { -ms-flex-align: end; align-items: flex-end; -ms-flex-direction: column; flex-direction: column; margin-left: auto; }

@media (max-width: 1024px) { .footer__contact { -ms-flex-item-align: start; align-self: flex-start; } }

@media (max-width: 640px) { .footer__contact { width: 100%; -ms-flex-align: start; align-items: flex-start; margin-top: 25px; } }

.footer__social { margin-bottom: 15px; }

.footer__social span { color: rgba(255, 255, 255, 0.7); font-size: 14px; line-height: 1.5em; margin-right: 18px; }

.footer__social span:last-child { margin-right: 0; }

.footer__email .email__input { background: #fff; color: rgba(0, 0, 0, 0.2); font-size: 14px; line-height: 1.5em; padding: 6px 0 6px 15px; }

.footer__email .email__input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.footer__email .email__input::-moz-placeholder { color: rgba(0, 0, 0, 0.2); }

.footer__email .email__input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.footer__email .email__input::-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.footer__email .email__input::placeholder { color: rgba(0, 0, 0, 0.2); }

.footer__email .email__btn { background: #FF565C; color: #fff; font-size: 12px; line-height: 17px; margin-left: -2px; padding: 9px 18.5px; }

/* index */
.container { width: 60%; margin: 30px auto; }

.font-size-change { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.font-size-change li { border: 1px solid #fff; }

.font-size-change a { background: #f1a333; color: #fff; cursor: pointer; display: inline-block; padding: 10px 20px; }

.text { color: #2a2a2a; font-size: 16px; margin: 20px auto; transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out; }

.large-size { font-size: 24px; font-weight: bold; }

.middle-size { font-size: 20px; }

.small-size { font-size: 16px; }
/*# sourceMappingURL=invision.css.map */